<div>
    <mat-toolbar style="background-color: #3f51b5">
      <button mat-raised-button routerLink="/contact">
         Contact Us
         <mat-icon>connect_without_contact</mat-icon>
      </button>
       <span class="example-spacer"></span>
       <span style="color: rgb(255, 255, 255);">ASHUR</span>
       <span class="example-spacer"></span>
       <div style="display:flex; flex-direction:row; gap:20px;">
         <button mat-raised-button class="example-icon" routerLink="/user-profile">
            Profile
            <mat-icon>create</mat-icon>
         </button>
          <button mat-raised-button class="example-icon" routerLink="/">
             Logout
             <mat-icon>login</mat-icon>
          </button>
       </div>
    </mat-toolbar>
   
 </div>