.example-card {
    width: 600px;
    padding: 0;
    margin: 0;
}

.example{
    width: 250px;
    margin-top: 10px;
}

.login-card{
    margin: 25px;
}

.title{
    font-family: 'Patua One', cursive;
    font-weight: 600;
    font-size: 23px;
    color: white;
    letter-spacing: 0.1em;
    background: linear-gradient(to bottom left, #ffff66 0%, #ff0066 100%);
    justify-content: center;
    text-transform: uppercase;
}

.example-button{
    margin: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: white;
    background: linear-gradient(to top right, #ffff66 0%, #ff0066 100%);
    justify-content: center;
    width: 100px;
    outline: none;
    transition: 0.5s ease;
}

.example-button:hover {
    transform: scale(1.10);
}
.example-card {
    width: 600px;
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.example{
    width: 250px;
    margin-top: 10px;
}

.login-card{
    margin: 25px;
}

.title{
    border-radius: 20px 20px 0px 0px;
    font-family: 'Patua One', cursive;
    font-weight: 600;
    font-size: 23px;
    color: white;
    letter-spacing: 0.1em;
    background: linear-gradient(to bottom left, #19d6d6 0%, #84d11f 100%);
    justify-content: center;
    text-transform: uppercase;
}