.example-spacer {
	flex: 1 1 auto;
}

  .example-card {
    top:20px;
    max-width: 300px;
    max-height: 400px;
    border-color: rgb(236, 23, 23);
    margin-left:10px;
    margin-right: 10px;
    margin-bottom:15px;
    border: 50pt;
    display: inline-block;
    box-shadow: 50vh;
  }
