<app-header></app-header>
<div class="style">
   <div *ngFor='let d of doctors'>
      <mat-card class="example-card">
         <mat-card-header>
           <div mat-card-avatar >
            <mat-icon>medical_services</mat-icon>
           </div>
           <mat-card-title>{{d.name}}</mat-card-title>
           <mat-card-subtitle>{{d.sp}}</mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>
            <p style=" font-weight: 1000;">
               Currently working in {{d.hosp}}.<br>
               {{d.qua}}<br>
               The doctor has an experience of {{d.exp}}<br>
               Would you like to book an appointment with the Doctor?
            </p>   
            <input mat-input type="date">
         </mat-card-content>
         <mat-card-actions>
           <button mat-raised-button color=primary (click)="open()">Book your appointment</button>
         </mat-card-actions>
       </mat-card>
   </div>
</div>
<br>

<div class="style1">
   <div *ngFor='let d1 of doctors1'>
      <mat-card class="example-card1">
         <mat-card-header>
           <div mat-card-avatar >
            <mat-icon>medical_services</mat-icon>
           </div>
           <mat-card-title>{{d1.name}}</mat-card-title>
           <mat-card-subtitle>{{d1.sp}}</mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>
            <p style=" font-weight: 1000;">
               Currently working in {{d1.hosp}}.<br>
               {{d1.qua}}<br>
               The doctor has an experience of {{d1.exp}}<br>
               Would you like to book an appointment with the Doctor?
            </p>   
            <input mat-input type="date">
         </mat-card-content>
         <mat-card-actions>
           <button mat-raised-button color=primary (click)="open()">Book your appointment</button>
         </mat-card-actions>
       </mat-card><br>
   </div>
</div>
<app-footer></app-footer>