.example-spacer {
	flex: 1 1 auto;
}
.example-card {
  max-width: 400px;
  border-color: black;
  border: 50pt;
}

.style{
display:flex;
flex-direction: column;
gap: 20px;
margin-top: 10px;
margin-left: 35%;
border: 10px;
border-color: black;
border-width: 10px;
}

