<div>
    <mat-toolbar style="background-color: #3f51b5">
       <span style="margin-left: 600px;color: rgb(255, 255, 255);">ASHUR</span>
       <div style="display:flex; flex-direction:row; gap:20px;">
          <button mat-raised-button class="button" routerLink="/">
             Logout
             <mat-icon>login</mat-icon>
          </button>
       </div>
    </mat-toolbar>
   
 </div>
 <div class="background">
   <h1 class='back' style="font-weight: 400;">About us </h1>
   <h2>“HEALTH IS A STATE OF MIND, WELLNESS IS A STATE OF BEING.” </h2>
   <p style="font-weight: 500;">
     The World Health Organisation (WHO) defines health as ‘a state of complete physical, mental and social wellbeing and not merely the absence of disease or infirmity’. This is consistent with the biopsychosocial model of health, which considers physiological, psychological and social factors in health and illness, and interactions between these factors.
     In today’s world, especially, in this pandemic situation, people have become a way too more conscious and serious about their health care and well-being. But waiting for hours together to get the appointment of a doctor and visiting hospitals for check-up is gradually declining and due to this COVID-19, people are scared of consulting doctors by going to hospitals.
     Keeping all this in mind, here we are presenting our ASHUR website which not only acts as a bridge between people and hospitals and hospitals but also provide many other services. 
   </p>
  <h3 style="font-weight: 450;">Email ID:sdp327@gmail.com
     <br>Contact NO: 9999999999</h3>
 </div>
<app-footer></app-footer>