<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" style="background-image: url(../assets/images/profile.webp); background-size: 100% 100%">
    <div fxLayout="row" fxLayoutAlign="center" style="padding: 40px;" class="login-card">
        <mat-card class="example-card">
            <mat-toolbar class="title">
                My Profile
                <button routerLink="/user-profile-edit" mat-raised-button style="margin-left: 5px;">
                    <i class="fas fa-edit">Edit</i>
                </button>
                <button (click)="Deleteprofile()" mat-raised-button style="margin-left: 5px; color: red;">
                    <span class="material-icons">delete</span>
                </button> 
            </mat-toolbar> 
            <div fxLayout="column" fxLayoutAlign="center center"> 
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-icon><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
                    <mat-form-field class="example">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" [formControl]="registerUserData.username" placeholder="Name" readonly>
                    </mat-form-field>
                </div>
                <div fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap.gt-sm="20px">
                    <div>
                        <mat-icon><span class="material-icons">date_range</span></mat-icon>
                        <mat-form-field class="example">
                            <mat-label>Date of Birth</mat-label>
                              <input matInput type="date" [formControl]="registerUserData.dob" placeholder="Date of Birth" readonly>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-icon><i class="fas fa-venus-mars"></i></mat-icon>
                        <mat-form-field class="example">
                            <mat-label>Select Your Gender</mat-label>
                            <mat-select [formControl]="registerUserData.gender" disabled>
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                                <mat-option value="Transgender">Transgender</mat-option>
                                <mat-option value="Not Prefer to Say">Not Prefer to Say</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap.gt-sm="20px">
                    <div>
                        <mat-icon><i class="fa fa-phone" aria-hidden="true"></i></mat-icon>
                        <mat-form-field class="example">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="number" [formControl]="registerUserData.phone" placeholder="Phone" readonly>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-icon><i class="fa fa-envelope" aria-hidden="true"></i></mat-icon>
                        <mat-form-field class="example">
                          <mat-label>E - Mail</mat-label>
                              <input matInput type="email" [formControl]="registerUserData.email" placeholder="E - Mail" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-icon><i class="fa fa-address-card" aria-hidden="true"></i></mat-icon>
                    <mat-form-field class="example">
                        <mat-label>Living Place</mat-label>
                        <input matInput type="text" [formControl]="registerUserData.addr" placeholder="Address" readonly>
                    </mat-form-field>
                </div>
                <div fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap.gt-sm="20px">
                    <div>
                        <span class="material-icons"> location_city </span>
                        <mat-form-field class="example">
                        <mat-label>City</mat-label>
                        <input matInput type="text" [formControl]="registerUserData.city" placeholder="City" readonly>
                    </mat-form-field>
                    </div>
                    <div>
                        <mat-icon><i class="fa fa-map-pin"></i></mat-icon>
                        <mat-form-field class="example">
                            <mat-label>Pincode</mat-label>
                        <input matInput type="number" [formControl]="registerUserData.pincode" placeholder="Pincode" readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>